@model IList<SabiAsp.Models.GetUserWithGroup_Result>

<style>
    .w-thead-bg {
        background-color: rgb(25, 126, 89);
        color: #ffffff;
    }
</style>

<div id="usersData">
    <table class="table table-hover">
        <thead class="w-thead-bg">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="filterUser">
            @{
                if (Model.Count > 0)
                {
                    foreach (var u in Model)
                    {
                        <tr>
                            <td>@u.UserId</td>
                            <td>@u.name</td>
                            <td>@u.EmailAddress</td>
                            <td>@u.Contact</td>
                            <td>
                                <input type="button" id="userChat" value="Chat" onclick="GetUserChat(@u.UserId);" />
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            <div class="w-empty-list">Record Not Found</div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




