@model List<SabiAsp.Models.GetUserChat_Result>
@{
    ViewBag.Title = "Chat";
    Layout = null;
}

<div class="form-group col-xl-12">
    <div class="container chatArea">
        <input type="hidden" id="displayname" />
        <div id="discussion">
            @if (Model.Count > 0)
            {
                foreach (var chat in Model)
                {
                    <div style="list-style-type: square; background: #150247; margin: 10px; padding: 10px; border-radius: 20px 0px 20px 20px;">
                        <div>
                            <strong style="color: white;font-style:normal;font-size:medium;text-transform:uppercase;">
                                @chat.name
                                <strong style="color: #c4da14;font-style:normal;font-size:medium;text-transform:lowercase;">said</strong>
                            </strong>:
                            <strong style="color: #ff6429;font-style:oblique;font-size:medium;">@chat.Message</strong>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <br />  <div class="row" style="margin:10px;">
        <div class="col-9">
            <textarea class="form-control" id="message" placeholder="Share what's in your mind..."></textarea>
            <br />
        </div>
        <div class="col-3">
            <input type="button" style="height:43px" class="btn btn-primary" id="sendmessage" value="Send" />
        </div>
    </div>



</div>


<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(function () {
        var chat = $.connection.chatHub;
        chat.client.addNewMessageToPage = function (name, message) {
            debugger;
            $('#discussion').append(` <div style="list-style-type: square; background: #150247; margin: 10px; padding: 10px; border-radius: 20px 0px 20px 20px;">
                        <div>
                            <strong style="color: white;font-style:normal;font-size:medium;text-transform:uppercase;">
                                ${htmlEncode(name)}
                                <strong style="color: #c4da14;font-style:normal;font-size:medium;text-transform:lowercase;">said</strong>
                            </strong>:
                            <strong style="color: #ff6429;font-style:oblique;font-size:medium;">${htmlEncode(message)}</strong>
                        </div>
                    </div>`);
        };
        //$('#displayname').val(prompt('Your Good Name Please:', ''));
        $('#displayname').val('@ViewBag.logedinUserName');
        $('#message').focus();
        $.connection.hub.start().done(function () {
            $('#sendmessage').click(function () {
                debugger;
                chat.server.send($('#displayname').val(), $('#message').val());
                var logedinUserId = '@ViewBag.logedinUserId';
                var userId = '@ViewBag.userId';
                var logedinUserName = '@ViewBag.logedinUserName';
                var groupId = '@ViewBag.GroupId';
                var message = $('#message').val();
                $.ajax({
                    url: '/Chat/PostVendorChat?logedinUserId=' + logedinUserId + '&&userId=' + userId + '&&groupId=' + groupId + '&&message=' + message,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        debugger;

                    },
                    error: function () {
                        debugger;
                        alert("Error");
                    }
                });
                $('#message').val('').focus();
            });
        });
    });
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
</script>

