
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Sabi</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Template/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/Template/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/Template/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/Content/Template/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Content/Template/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/Content/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/Content/wwwroot/css/site.css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <script>
        var OAUTHURL = 'https://accounts.google.com/o/oauth2/auth?';
        var VALIDURL = 'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=';
        var SCOPE = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';
        var CLIENTID = '797473363020-up2pqdgnus0pjauk6k4r0lpqmg7ednqd.apps.googleusercontent.com';
        var REDIRECT = 'https://localhost:44317/Home/Index';
        var LOGOUT = 'http://localhost:56623/Home/Index';
        var TYPE = 'token';
        var _url = OAUTHURL + 'scope=' + SCOPE + '&client_id=' + CLIENTID + '&redirect_uri=' + REDIRECT + '&response_type=' + TYPE;
        var acToken;
        var tokenType;
        var expiresIn;
        var user;
        var loggedIn = false;
        function openSignModal(id) {
            debugger;
            $('#SignIn').click(function () { return false; });
            if (id == 1) {
                $('#changeheader').text('Sign In as Vendor');
                $('#SignInType').val(1);
            } else {
                $('#changeheader').text('Sign In as Buyer');
                $('#SignInType').val(2);
            }
            //$('#Signinmodal').trigger('click');
            $("#LoginList").show(100);
            $("#SignIn").hide(100);
        }
        function facebooklogin() {
            debugger;

            var fbid = document.getElementById("SignInType").value;

            if (fbid == 1) {
                window.open('https://localhost:44317/Login/Facebook?UserType=1', '_self')
            } else {
                window.open('https://localhost:44317/Login/Facebook?UserType=2', '_self')
            }

        }

        function login() {

            debugger;
            var win = window.open(_url, "windowname1", 'width=800,height=600');
            var pollTimer = window.setInterval(function () {
                try {
                    console.log(win.document.URL);
                    if (win.document.URL.indexOf(REDIRECT) != -1) {
                        window.clearInterval(pollTimer);
                        var url = win.document.URL;
                        acToken = gup(url, 'access_token');
                        tokenType = gup(url, 'token_type');
                        expiresIn = gup(url, 'expires_in');

                        win.close();
                        debugger;
                        validateToken(acToken);
                    }
                }
                catch (e) {

                }
            }, 500);
        }

        function gup(url, name) {
            namename = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\#&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(url);
            if (results == null)
                return "";
            else
                return results[1];
        }

        function validateToken(token) {
            getUserInfo();
            $.ajax(
                {
                    url: VALIDURL + token,
                    data: null,
                    success: function (responseText) {

                    },
                });
        }

        function getUserInfo() {
            debugger;
            $.ajax({
                url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
                data: null,
                success: function (resp) {
                    debugger;
                    user = resp;
                    console.log(user);

                    $.ajax({
                        url: '/Login/CheckSocialLogin/',
                        type: 'POST',
                        data: {
                            email: user.email
                        },
                        success: function (data) {
                            debugger;
                            if (data == "success") {
                                window.location.href = "/Home/Index/";
                            }
                            else {
                                $('#uname').html('Welcome ' + user.name);
                                $('#uemail').html('Email: ' + user.email)
                                $('#imgHolder').attr('src', user.picture);
                                $('#profileImg').attr('src', user.picture);
                                $('#profilebtn').attr('src', user.picture);
                                $("#UserPassword").val("");
                                $("#openUserPassordModal").trigger("click");
                            }
                        },
                        error: function () {
                            debugger;
                            alert("Error");
                        }
                    });

                }
            });

        }

        function SaveUserInfo() {
            debugger;
            //LayoutSub
            var password = document.getElementById('UserPassword').value;
            if (password == "") {
                alert("Please enter Password.");
                return;
            }
            else {
                $.ajax({
                    url: '/Login/GoogleLogin/',
                    type: 'POST',
                    data: {
                        email: user.email,
                        name: user.name,
                        gender: user.gender,
                        lastname: user.lastname,
                        location: user.location,
                        id: document.getElementById('SignInType').value,
                        password: document.getElementById('UserPassword').value
                    },
                    success: function (data) {
                        debugger;
                        if (data == "success") {
                            alert("User added successfully.");
                            window.location.href = "/Home/Index/";
                        }
                        else {
                            alert("User already exist.");
                            return;
                        }
                    },
                    error: function () {
                        debugger;
                        alert("Error");
                    }
                });
            }
        }

        function ShowAllItems() {
            debugger;
            $.ajax({
                url: "/Items/ShowAllItems",
                contentType: "application/json",
                success: function (responce) {
                    debugger;
                    var html = '';
                    $(responce).each(function (index, value) {
                        debugger;
                        html += '<div class="col-sm-4" onclick="buy(' + value[" id"] + ');">'
                            + '<div class="best_shoes">'
                            + '<p class="best_text">' + value["name"] + '</p>'
                            + '<div class="shoes_icon"><img src=' + value["image"] + ' /></div>'
                            + '<div class="star_text">'
                            + '<div class="left_part">'
                            + '<ul>'
                            + '<li><a href="#"><img src="~/Content/Template/images/star-icon.png"></a></li>'
                            + '<li><a href="#"><img src="~/Content/Template/images/star-icon.png"></a></li>'
                            + '<li><a href="#"><img src="~/Content/Template/images/star-icon.png"></a></li>'
                            + '<li><a href="#"><img src="~/Content/Template/images/star-icon.png"></a></li>'
                            + '<li><a href="#"><img src="~/Content/Template/images/star-icon.png"></a></li>'
                            + '</ul>'
                            + '</div>'
                            + '<div class="right_part">'
                            + '<div class="shoes_price">$ <span style="color: #ff4e5b;">' + value["price"] + '</span></div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>'


                    });
                    $("#allcategories").html(html);
                }
            });

        }
        function buy(obj) {
            $.ajax({
                url: "/Home/BuyItem",
                //data: { id: $(obj).val() },
                data: { id: obj },
                contentType: "application/json",
                success: function (responce) {
                    debugger;
                    $(responce).each(function (index, value) {
                        debugger;
                        // alert("Already Login");

                    });
                }
            });
        }
    </script>
</head>
<!-- body -->
<body class="main-layout">
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="logo">
                        <a href="/Home/Index">
                            @*<img src="~/Content/Template/images/logo.png">*@
                            <img src="~/Images/MainSabilogo.png" style=" width: 100px; height: 100px;" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-10">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link" href="/Home/Index">Home</a>
                                <a class="nav-item nav-link" id="Aboutbtn">
                                    About Us<i class="fas fa-chevron-circle-down" style="margin-left: 8px"></i>
                                    <div id="About" style="display:none;" class="dropdownStyle">
                                        <ul>
                                            <li>Our story</li>
                                            <li>Why sabi?</li>
                                            <li>community</li>
                                        </ul>
                                    </div>
                                </a>
                                <a class="nav-item nav-link" id="Categories" style="cursor:pointer">
                                    Categories<i class="fas fa-chevron-circle-down" style="margin-left: 8px"></i>
                                    <div id="categoriesDropDiv" style="z-index:1;position: absolute; background: white; color: black; padding: 18px; border-radius: 6px;cursor:pointer;display:none">

                                        <div onclick="loadCategories(1,'Groceries')">Groceries</div>
                                        <div onclick="loadCategories(2, 'Pharmacy')">Pharmacy</div>
                                        <div onclick="loadCategories(3,'Bakery')">Bakery</div>
                                        <div onclick="loadCategories(4,'Hampers+Gifts')">Hampers+Gifts</div>
                                    </div>
                                </a>
                                <a class="nav-item nav-link last" href="#"><img src="~/Content/Template/images/search_icon.png"></a>
                                <a class="nav-item nav-link" href="shoes.html">HRE<i class="fas fa-map-marker-alt" style="margin-left:8px"></i></a>
                                <a class="nav-item nav-link last" href="contact.html"><img src="~/Content/Template/images/shop_icon.png"></a>
                                <a id="SignInbtn" class="nav-item nav-link" style="cursor:pointer;">
                                    Sign In
                                    <div id="SignIn" style="display:none;z-index:1" class="dropdownStyle">
                                        <ul>
                                            <li onclick="openSignModal(1)">Sign In as Vendor</li>
                                            <li onclick="openSignModal(2)">Sign In as Buyer</li>
                                        </ul>
                                    </div>
                                    <style>
                                        .flex1 {
                                            justify-content: normal !important;
                                        }
                                    </style>
                                    <div id="LoginList" style="display:none;z-index:1" class="dropdownStyle">
                                        <i class="fas fa-times" style="float: right; padding: 5px;" onclick="$('#LoginList').hide()"></i>
                                        <ul>
                                            <li onclick="login()">
                                                <div class="flex1">
                                                    <img src="~/Images/GoogleIcon.png" class="signinimg" />
                                                    <input class="btn" style="background: white; color: #130347; border-radius: 22px; height: 29px; padding: 1px 13px 21px 13px; font-size: 15px; " value="SignIn With Google" type="button" id="GoogleLogin" />
                                                </div>
                                            </li>
                                            <li onclick="facebooklogin();">
                                                <div class="flex1">
                                                    <img src="~/Images/FacebookIcon.png" class="signinimg" />
                                                    <input class="btn" style="background: white; color: #130347; border-radius: 22px; height: 29px; padding: 1px 13px 21px 13px; font-size: 15px; " value="SignIn with Facebook" type="button" />
                                                </div>
                                            </li>
                                            <li onclick="loginWithSabi();">
                                                <div class="flex1">
                                                    <img src="~/Images/loginSabi.png" class="signinimg" />
                                                    <input class="btn" style="background: white; color: #130347; border-radius: 22px; height: 29px; padding: 1px 13px 21px 13px; font-size: 15px; " value="SignIn with Sabi" type="button" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                                @*<a class="nav-item nav-link" href="contact.html">Contact</a>*@

                                <a class="nav-item nav-link last">
                                    <img src="~/Images/noimage.jpg" style=" height: 30px; width: 30px;" id="profilebtn" />
                                    <div id="profile" class="dropdownStyle" style="z-index: 1; right: 5px; width: 360px; padding-bottom: 5px; padding-right: 5px; display: none;">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12" style="text-align:center">
                                                    <img id="profileImg" src="@TempData["picture"]" style="height: 80px; width: 80px; border-radius: 15px; margin: 15px;" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <span>Name :</span>
                                                </div>
                                                <div class="col-sm-8">
                                                    <span>@TempData["first_name"] @TempData["lastname"]</span>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4"><span>Email or ID : </span></div>
                                                <div class="col-sm-8"> <span>@TempData["email"]</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="banner_section">
            <div class="container-fluid">
                <section class="slide-wrapper">
                    <div class="container-fluid">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                <li data-target="#myCarousel" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-2 padding_0">
                                            <p class="mens_taital">Groceries</p>
                                            <div class="page_no">0/3</div>
                                            <p class="mens_taital_2">Groceries</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="banner_taital">
                                                <h1 class="banner_text">Sabi Presents</h1>
                                                <h1 class="mens_text"><strong>Grocceries For You</strong></h1>
                                                <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <button class="buy_bt">Buy Now</button>
                                                <button class="more_bt">See More</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="shoes_img"><img src="~/Content/Template/images/running-shoes.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-2 padding_0">
                                            <p class="mens_taital">Gifts</p>
                                            <div class="page_no">0/4</div>
                                            <p class="mens_taital_2">Gifts</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="banner_taital">
                                                <h1 class="banner_text">Sabi Presents </h1>
                                                <h1 class="mens_text"><strong>You Like Hamper & Gifts</strong></h1>
                                                <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <button class="buy_bt">Buy Now</button>
                                                <button class="more_bt">See More</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="shoes_img"><img src="~/Content/Template/images/running-shoes.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-2 padding_0">
                                            <p class="mens_taital">Natural Foods</p>
                                            <div class="page_no">0/1</div>
                                            <p class="mens_taital_2">Natural Foods</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="banner_taital">
                                                <h1 class="banner_text">Sabi Presentd</h1>
                                                <h1 class="mens_text"><strong>Natural Foods For You</strong></h1>
                                                <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <button class="buy_bt">Buy Now</button>
                                                <button class="more_bt">See More</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="shoes_img"><img src="~/Content/Template/images/running-shoes.png"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-sm-2 padding_0">
                                            <p class="mens_taital">Pharmacy</p>
                                            <div class="page_no">0/2</div>
                                            <p class="mens_taital_2">Pharmacy</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="banner_taital">
                                                <h1 class="banner_text">Sabi Presents </h1>
                                                <h1 class="mens_text"><strong>Pharmacy</strong></h1>
                                                <p class="lorem_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                <button class="buy_bt">Buy Now</button>
                                                <button class="more_bt">See More</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="shoes_img"><img src="~/Content/Template/images/running-shoes.png"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
    <!-- header section end -->
    @RenderBody();
    <!-- section footer start -->
    <div class="section_footer">
        <div class="container">
            <div class="mail_section">
                <div class="row">
                    <div class="col-sm-6 col-lg-2">
                        <div><a href="#"><img src="~/Content/Template/images/footer-logo.png"></a></div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-logo"><img src="~/Content/Template/~/Content/Template/images/phone-icon.png"><span class="map_text">(71) 1234567890</span></div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-logo"><img src="~/Content/Template/images/email-icon.png"><span class="map_text">Demo@gmail.com</span></div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="social_icon">
                            <ul>
                                <li><a href="#"><img src="~/Content/Template/images/fb-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/Template/images/twitter-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/Template/images/in-icon.png"></a></li>
                                <li><a href="#"><img src="~/Content/Template/images/google-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-sm-4 col-lg-2">
                        <p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur  ipsum dolor sit amet,</p>
                    </div>
                    <div class="col-sm-4 col-lg-2">
                        <h2 class="shop_text">Address </h2>
                        <div class="image-icon"><img src="~/Content/Template/images/map-icon.png"><span class="pet_text">No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
                    </div>
                    <div class="col-sm-4 col-md-6 col-lg-3">
                        <h2 class="shop_text">Our Company </h2>
                        <div class="delivery_text">
                            <ul>
                                <li>Delivery</li>
                                <li>Legal Notice</li>
                                <li>About us</li>
                                <li>Secure payment</li>
                                <li>Contact us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <h2 class="adderess_text">Products</h2>
                        <div class="delivery_text">
                            <ul>
                                <li>Prices drop</li>
                                <li>New products</li>
                                <li>Best sales</li>
                                <li>Contact us</li>
                                <li>Sitemap</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <h2 class="adderess_text">Newsletter</h2>
                        <div class="form-group">
                            <input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
                        </div>
                        <button class="subscribr_bt">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section footer end -->
    @*Modal Start*@
    <input type="hidden" id="Signinmodal" data-target="#MyModal" data-toggle="modal" />

    <input type="hidden" id="SignInType" value="" />

    <div class="modal fade " id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header" style="background: #130347;height: 60px;">
                    <h4 id="changeheader" class="title" style="color:white;"></h4>
                    <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" style="color:white;"></i>
                    </button>
                </div>
                <div style="width:100%; overflow:auto" class="ModelTrack">
                    <div class="modal-body" style="width:100%">
                        <div style="display: block;">
                            <a class="nav-link text-light abtn">
                                <div class="flex1">
                                    <img src="~/Images/FacebookIcon.png" class="signinimg" />
                                    <input class="btn" style="background: white; color: #130347; border-radius: 22px; height: 29px; padding: 1px 13px 21px 13px; font-size: 15px; " value="SignIn with Facebook" type="button" onclick="facebooklogin();" />
                                </div>
                            </a>
                            <a class="nav-link text-light abtn">
                                <div class="flex1">
                                    <img src="~/Images/GoogleIcon.png" class="signinimg" />
                                    <input class="btn" style="background: white; color: #130347; border-radius: 22px; height: 29px; padding: 1px 13px 21px 13px; font-size: 15px; " value="SignIn With Google" type="button" id="GoogleLogin" onclick="login()" />
                                </div>
                            </a>

                            <input type="button" value="Login From Sabi" onclick="location.href='Login/SabiLogin?type='+document.getElementById('SignInType').value" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="openUserPassordModal" data-target="#userPasswordBootstrapModal" data-toggle="modal" />
    @*user strat*@
    <div class="modal fade " id="userPasswordBootstrapModal">
        <div class="modal-dialog w-user-modal-dialog">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header light-blue darken-3 white-text" style="background:#0273B6;">
                    <h4 class="title" style="color:white;">Create Password</h4>

                    <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times" style="color:white;"></i>
                    </button>
                </div>
                <div style="width:100%; overflow:auto" class="ModelTrack">
                    <div class="modal-body" style="width:100%">
                        <div id="UserPasswordDiv">
                            <div class="row">

                                <div class="col-md-12">
                                    <label>Password :</label>
                                    <input type="password" class="form-control" id="UserPassword" name="UserPassword" required />
                                </div>
                            </div>

                            <input type="button" class="btn btn-info" value="Add" onclick="SaveUserInfo();" style="float:right;margin:10px 0;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*user end*@
    @*Modal End*@

    <!-- Javascript files-->
    <!--<script src="~/Content/Template/js/jquery.min.js"></script>
    <script src="~/Content/Template/js/popper.min.js"></script>
    <script src="~/Content/Template/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Template/js/jquery-3.0.0.min.js"></script>
    <script src="~/Content/Template/js/plugin.js"></script>-->
    <!-- sidebar -->
    <!--<script src="~/Content/Template/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/Template/js/custom.js"></script>-->
    <!-- javascript -->
    <!--<script src="~/Content/Template/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>-->

    <script src="~/Content/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/wwwroot/js/site.js" asp-append-version="true"></script>
    <script src="~/Content/wwwroot/js/script.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {

           @* $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });


            $('#myCarousel').carousel({
                interval: false
            });

            //scroll slides on swipe for touch enabled devices

            $("#myCarousel").on("touchstart", function (event) {

                var yClick = event.originalEvent.touches[0].pageY;
                $(this).one("touchmove", function (event) {

                    var yMove = event.originalEvent.touches[0].pageY;
                    if (Math.floor(yClick - yMove) > 1) {
                        $(".carousel").carousel('next');
                    }
                    else if (Math.floor(yClick - yMove) < -1) {
                        $(".carousel").carousel('prev');
                    }
                });
                $(".carousel").on("touchend", function () {
                    $(this).off("touchmove");
                });
            });*@
        });
    </script>
</body>
</html>

