@model SabiAsp.Models.Tracking
@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.trackingId)

        <div class="form-group">
            <label class="control-label col-md-2" for="state">Status</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control", @id = "someid", @style = "display:none" } })
                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })


                <div class="form-floating">
                    <select class="form-select form-control" id="floatingSelect" aria-label="Floating label select example" onchange="getval(this);">
                        <option selected>Change Status</option>
                        <option value="In Complete">In Complete</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>

    <script>

        function getval(sel) {
            $("#someid").val(sel.value);
        }
    </script>
}

