
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link rel="stylesheet" href="~/Content/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/wwwroot/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3" style="background: #130347 !important">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white"><i class="far fa-snowflake"></i> Sabi | Admin Panel <i class="far fa-snowflake"></i></a>
            </div>
        </nav>
    </header>
    <div class="MainDivAdmin">

        <div style="padding:10px;">
            <h2>Users</h2>
            <div>
                <div class="w-margin-bottom-10 w-height-35">
                    <input type="button" class="btn btn-primary w-pull-right" value="Add User" data-target="#userBootstrapModal" data-toggle="modal" />
                    <input type="text" class="form-control w-pull-right w-width-200" placeholder="Search" id="searchName" onkeyup="SearchUsersByName();" />
                </div>
                <table class="table table-hover">
                    <thead class="w-thead-bg">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Username</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="filterUser">
                        @{
                            if (ViewBag.Users.Count > 0)
                            {
                                foreach (var user in ViewBag.Users)
                                {
                                    <tr>
                                        <td>@user.UserId</td>
                                        <td>@user.name</td>
                                        <td>@user.EmailAddress</td>
                                        <td>@user.Contact</td>
                                        <td>@user.username</td>
                                        <td>@user.RoleType</td>
                                        <td>
                                            @if (user.isDeleted == "true")
                                            {
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            }
                                        </td>
                                        <td>
                                            <input type="button" id="editUser" value="Edit" onclick="UpdateUser(@user.UserId, '@user.name', '@user.EmailAddress', '@user.Contact', '@user.username', '@user.RoleID', '@user.Address');" />
                                            <input type="button" id="deleteUser" value="Delete" onclick="DeleteUser(@user.UserId);" />
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7">
                                        <div class="w-empty-list">Record Not Found</div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div id="addUser">
            @{
                using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { id = "addUserForm" }))
                {

                    @*user strat*@
                    <div class="modal fade " id="userBootstrapModal">
                        <div class="modal-dialog w-user-modal-dialog">
                            <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header light-blue darken-3 white-text" style="background:#0273B6;">
                                    <h4 class="title" style="color:white;">Add User</h4>

                                    <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-times" style="color:white;"></i>
                                    </button>
                                </div>
                                <div style="width:100%; overflow:auto" class="ModelTrack">
                                    <div class="modal-body" style="width:100%">
                                        <div id="UserDiv">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>First Name :</label>
                                                    <input type="text" class="form-control" id="FirstName" name="FirstName" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Last Name :</label>
                                                    <input type="text" class="form-control" id="LastName" name="LastName" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Email Address :</label>
                                                    <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Contact :</label>
                                                    <input type="text" class="form-control" id="Contact" name="Contact" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Username :</label>
                                                    <input type="text" class="form-control" id="Username" name="Username" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Password :</label>
                                                    <input type="password" class="form-control" id="Password" name="Password" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Type :</label>
                                                    <select class="form-control" id="RoleType" name="RoleType" required>
                                                        <option value="">Select</option>
                                                        <option value="1">Admin</option>
                                                        <option value="2">User</option>
                                                        <option value="3">Vendor</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Address :</label>
                                                    <input type="text" class="form-control" id="Address" name="Address" />
                                                </div>
                                            </div>

                                            <input type="button" class="btn btn-info" value="Add" onclick="SaveUserData();" style="float:right;margin:10px 0;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*user end*@


                }
            }
        </div>

        <input type="hidden" id="openUserModal" data-target="#updateUserBootstrapModal" data-toggle="modal" />

        <div id="editUser">
            @{
                using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { id = "updateUserForm" }))
                {
                    @*user strat*@
                    <div class="modal fade " id="updateUserBootstrapModal">
                        <div class="modal-dialog w-user-modal-dialog">
                            <div class="modal-content">
                                <!--Header-->
                                <div class="modal-header light-blue darken-3 white-text" style="background:#0273B6;">
                                    <h4 class="title" style="color:white;">Update User</h4>

                                    <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-times" style="color:white;"></i>
                                    </button>
                                </div>
                                <div style="width:100%; overflow:auto" class="ModelTrack">
                                    <div class="modal-body" style="width:100%">
                                        <div id="UserDiv">
                                            <input type="hidden" id="UpdateUserId" name="UpdateUserId" />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Name :</label>
                                                    <input type="text" class="form-control" id="UpdateUserName" name="UpdateUserName" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Email Address :</label>
                                                    <input type="email" class="form-control" id="UpdateUserEmailAddress" name="UpdateUserEmailAddress" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Contact :</label>
                                                    <input type="text" class="form-control" id="UpdateUserContact" name="UpdateUserContact" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Username :</label>
                                                    <input type="text" class="form-control" id="UpdateUserUsername" name="UpdateUserUsername" required />
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Type :</label>
                                                    <select class="form-control" id="UpdateRoleType" name="UpdateRoleType" required>
                                                        <option value="">Select</option>
                                                        <option value="1">Admin</option>
                                                        <option value="2">User</option>
                                                        <option value="3">Vendor</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Address :</label>
                                                    <input type="text" class="form-control" id="UpdateUserAddress" name="UpdateUserAddress" />
                                                </div>
                                            </div>

                                            <input type="button" class="btn btn-info" value="Update" onclick="UpdateUserData();" style="float:right;margin:10px 0;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*user end*@


                }
            }
        </div>

        <style>
            .w-width-200 {
                width: 200px;
            }

            .w-height-35 {
                height: 35px;
            }

            .w-pull-right {
                float: right;
            }

            .w-pull-left {
                float: left;
            }

            .w-thead-bg {
                background-color: rgb(25, 126, 89);
                color: #ffffff;
            }

            .w-empty-list {
                text-align: center;
                color: red;
                width: 100%;
            }

            .w-margin-bottom-10 {
                margin-bottom: 10px;
            }
        </style>

        <script>

            function UpdateUser(userId, name, email, contact, username, roleType, address) {
                debugger;
                $("#UpdateUserId").val(userId);
                $("#UpdateUserName").val(name);
                $("#UpdateUserEmailAddress").val(email);
                $("#UpdateUserContact").val(contact);
                $("#UpdateUserUsername").val(username);
                $("#UpdateRoleType").val(roleType);
                $("#UpdateUserAddress").val(address);
                $("#openUserModal").trigger("click");
            }

            function DeleteUser(userId) {
                location.href = '../User/DeleteUser?userId=' + userId;
            }

            function SaveUserData() {
                debugger;
                //User/Index
                if (document.getElementById('FirstName').value == "") {
                    alert("Please enter First Name.");
                    return;
                }
                if (document.getElementById('LastName').value == "") {
                    alert("Please enter Last Name.");
                    return;
                }
                if (document.getElementById('EmailAddress').value == "") {
                    alert("Please enter Email Address.");
                    return;
                }
                if (document.getElementById('Username').value == "") {
                    alert("Please enter Username.");
                    return;
                }
                if (document.getElementById('Password').value == "") {
                    alert("Please enter Password.");
                    return;
                }
                if (document.getElementById('RoleType').value == "") {
                    alert("Select one Type.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    async: "true",
                    data: $("#addUserForm").serialize(),
                    url: "/User/AddUser",
                    contenttype: 'application/html; charset=utf-8',
                    datatype: 'html',
                    success: function (data) {
                        debugger;
                        if (data == "success") {
                            alert("User added successfully.");
                            window.location.reload();
                        }
                        else {
                            alert("User already exist.");
                            return;
                        }
                    },
                    error: function () {
                        debugger;
                        alert("Error");
                    }
                });
            }

            function UpdateUserData() {
                debugger;
                //User/Index
                if (document.getElementById('UpdateUserName').value == "") {
                    alert("Please enter Name.");
                    return;
                }
                if (document.getElementById('UpdateUserEmailAddress').value == "") {
                    alert("Please enter Email Address.");
                    return;
                }
                if (document.getElementById('UpdateUserUsername').value == "") {
                    alert("Please enter Username.");
                    return;
                }
                if (document.getElementById('UpdateRoleType').value == "") {
                    alert("Select one Type.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    async: "true",
                    data: $("#updateUserForm").serialize(),
                    url: "/User/UpdateUser",
                    contenttype: 'application/html; charset=utf-8',
                    datatype: 'html',
                    success: function (data) {
                        debugger;
                        if (data == "success") {
                            alert("User updated successfully.");
                            window.location.reload();
                        }
                        else {
                            alert("Record not updated.");
                            return;
                        }
                    },
                    error: function () {
                        debugger;
                        alert("Error");
                    }
                });
            }

            function SearchUsersByName() {
                var name = document.getElementById("searchName").value;
                $("#filterUser tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(name) > -1)
                });
            }

        </script>


    </div>

    <script src="~/Content/wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/wwwroot/js/site.js" asp-append-version="true"></script>
</body>
</html>



