@model SabiAsp.Models.Tracking
@{
    Layout = null;
}



<div class="container-fluid containerForOrders" style="margin-top:10px">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-12"><h3 class="OrderHeadings"> Order Date</h3></div>
            </div>
            <div class="row">
                <div class="col-12"><h3 class="OrderHeadingsValues">@Html.DisplayFor(modelItem => modelItem.isCreated)</h3></div>
            </div>
            <div class="row">
                <div class="col-12"><h3 class="OrderHeadings">Order Number</h3></div>
            </div>
            <div class="row">
                <div class="col-12"><h3 class="OrderHeadingsValues"> @Html.DisplayFor(modelItem => modelItem.ordernumber)</h3></div>
            </div>
        </div>

        <div class="col-4" style="padding:10px">
            <div class="row">
                <div class="col-12"><h3 class="OrderHeadings">Status</h3></div>
            </div>
            <div class="row">
                <div class="col-12">  <h2 style="font-size:22px" class="OrderHeadingsValues">@Html.DisplayFor(modelItem => modelItem.state)</h2> </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="OrderHeadings" style="color: #F6B6DA">
                        @Html.DisplayFor(modelItem => modelItem.step1)
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="OrderHeadings" style="color: #F6B6DA">
                        @Html.DisplayFor(modelItem => modelItem.step2)$
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 ViewOrderButton">
                    <a style="font-size: 12px;"data-target="#ViewOrderModal" data-toggle="modal" onclick="ViewOrder(@Html.DisplayFor(modelItem => modelItem.ordernumber))">View Order</a>
                </div>
            </div>
        </div>
    </div>
</div>

 