@model IEnumerable<SabiAsp.Models.Tracking>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="container-fluid containerForOrders">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12"><h3 class="OrderHeadings"> Order Date</h3></div>
                </div>
                <div class="row">
                    <div class="col-12"><h3 class="OrderHeadingsValues">@Html.DisplayFor(modelItem => item.isCreated)</h3></div>
                </div>
                <div class="row">
                    <div class="col-12"><h3 class="OrderHeadings">Item Name</h3></div>
                </div>
                <div class="row">
                    <div class="col-12"><h3 class="OrderHeadingsValues"> @Html.DisplayFor(modelItem => item.item.name)</h3></div>
                </div>
            </div>

            <div class="col-3" style="padding:10px">
                <div class="row">
                    <div class="col-12"><h3 class="OrderHeadings">Status</h3></div>
                </div>
                <div class="row">
                    <div class="col-12">  <h2 style="font-size:22px" class="OrderHeadingsValues">@Html.DisplayFor(modelItem => item.state)</h2> </div>
                </div>
            </div>
            <div class="col-3" style="padding:12px">
                <div class="row">
                    <div class="col-12">
                        <h3 class="OrderHeadings" style="color: #F6B6DA">
                            @Html.DisplayFor(modelItem => item.step1)
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="OrderHeadings" style="color: #F6B6DA">
                            @Html.DisplayFor(modelItem => item.item.Price)$
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding:12px">
                <div class="row">
                    <div class="col-12">
                        <h3 class="OrderHeadings" >
                            Buyer Name
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="OrderHeadingsValues" >
                            @Html.DisplayFor(modelItem => item.user.name)
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
