@model IList<SabiAsp.Models.SubCategory>


@{

    foreach (var sc in Model)
    {
    <tr>
        <td>@sc.SubCategorieId</td>
        <td>
            @if (sc.image == null)
            {
                <img src="~/Images/noimage.jpg" class="Emp44by44" style="height: 70px; width: 70px; border-radius: 50px;">
            }
            else
            {
                <img src="@string.Format("/CompanyImages/{0}", sc.image)" class="Emp44by44" style="height: 70px; width: 70px; border-radius: 50px;">
            }
        </td>
        <td>@sc.name</td>
        <td>@sc.CreatedDate</td>
        <td>
            <input type="button" id="viewItems" value="View Items" onclick="ViewItems(@sc.SubCategorieId);" />
            <input type="button" id="editSubCategory" value="Edit" onclick="GetUpdateSubCategory(@sc.SubCategorieId, @sc.Shopid, '@sc.name');" />
            <input type="button" id="deleteSubCategory" value="Delete" onclick="DeleteSubCategory(@sc.SubCategorieId);" />
        </td>
    </tr>
    }

}




