@model SabiAsp.Models.UserFacebookInfoModal

@{
    ViewBag.Title = "FacebookCallback";
    Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Content/Admin/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Content/Admin/css/main.css">
<!--===============================================================================================-->
<style>
    form {
        background: white;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#openUserfbPassordModal").trigger("click");
    });

    function SaveUserFBInfo() {
        debugger;
        //LayoutSub
        var UserTypeId = document.getElementById('UserTypeId').value;
        var UserName = document.getElementById('UserName').value;
        var EmailAddress = document.getElementById('EmailAddress').value;
        var Name = document.getElementById('Name').value;
        var Image = document.getElementById('Image').value;
        var password = document.getElementById('UserPassword').value;
        if (password == "") {
            
            HConfirmCustom('Please enter Password.', 'warning', 'Ok', function () { }, '', '', '', '');
            return;
        }
        else {
            $.ajax({
                url: '/Login/CreateFacebookPassword/',
                type: 'POST',
                data: {
                    id: UserTypeId,
                    email: EmailAddress,
                    username: UserName,
                    name: Name,
                    image: Image,
                    password: password
                },
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        
                        HConfirmCustom('User added successfully.', 'success', 'Ok', function () { window.location.href = "/Home/Index/"; }, '', '', '', '');
                       
                    }
                    else {
                       
                        HConfirmCustom('User already exist.', 'warning', 'Ok', function () { }, '', '', '', '');
                        return;
                    }
                },
                error: function () {
                    debugger;
                    alert("Error");
                }
            });
        }
    }
</script>
@*<h2>FacebookCallback</h2>*@

<input type="hidden" id="openUserfbPassordModal" data-target="#userfbPasswordBootstrapModal" data-toggle="modal" />
@*user strat*@
<div class="modal fade " id="userfbPasswordBootstrapModal">
    <div class="modal-dialog w-user-modal-dialog">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text" style="background:#0273B6;">
                <h4 class="title" style="color:white;">Create Password</h4>

                <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times" style="color:white;"></i>
                </button>
            </div>
            <div style="width:100%; overflow:auto" class="ModelTrack">
                <div class="modal-body" style="width:100%">
                    <div id="UserFBPasswordDiv">
                        <div class="row">
                            <input type="hidden" id="UserTypeId" name="UserTypeId" value="@Model.UserTypeId" />
                            <input type="hidden" id="UserName" name="UserName" value="@Model.Username" />
                            <input type="hidden" id="EmailAddress" name="EmailAddress" value="@Model.EmailAddress" />
                            <input type="hidden" id="Name" name="Name" value="@Model.Name" />
                            <input type="hidden" id="Image" name="Image" value="@Model.Image" />
                            <div class="col-md-12">
                                <label>Password :</label>
                                <input type="password" class="form-control" id="UserPassword" name="UserPassword" required />
                            </div>
                        </div>

                        <input type="button" class="btn btn-info" value="Add" onclick="SaveUserFBInfo();" style="float:right;margin:10px 0;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*user end*@



<!--===============================================================================================-->
<script src="~/Content/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/js/main.js"></script>

