@model SabiAsp.Models.Admin

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="images/icons/favicon.ico" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/main.css">
    <!--===============================================================================================-->
    <style>
        form {
            background: white;
            border-radius: 10px;
            padding: 10px;
        }
    </style>
    <script>
        function Register() {
            debugger;
            //User/Index
            if (document.getElementById('FirstName').value == "") {
                alert("Please enter First Name.");
                return;
            }
            if (document.getElementById('LastName').value == "") {
                alert("Please enter Last Name.");
                return;
            }
            if (document.getElementById('EmailAddress').value == "") {
                alert("Please enter Email Address.");
                return;
            }
            if (document.getElementById('Username').value == "") {
                alert("Please enter Username.");
                return;
            }
            if (document.getElementById('Password').value == "") {
                alert("Please enter Password.");
                return;
            }
            if (@ViewBag.type == 3) {
                if (document.getElementById('Category').value == "") {
                    alert("Select one Category.");
                    return;
                }
                if (document.getElementById('Location').value == "") {
                    alert("Select one Location.");
                    return;
                }
                if (document.getElementById('ShopName').value == "") {
                    alert("Please enter ShopName.");
                    return;
                }
                if (document.getElementById('Description').value == "") {
                    alert("Please enter Description.");
                    return;
                }
                if (document.getElementById('DeliveryFee').value == "") {
                    alert("Please enter DeliveryFee.");
                    return;
                }
                if (document.getElementById('DeliveryTime').value == "") {
                    alert("Please enter DeliveryTime.");
                    return;
                }
            }
            f = new FormData($("#addSubCategoryForm")[0]);
            $.ajax({
                type: "POST",
                async: "true",
                data: f,
                url: "/Login/SabiRegister",
                processData: false,
                contentType: false,
                success: function (data) {
                    debugger;
                    if (data == "success") {
                        alert("User added successfully.");
                        window.location.href = '/Home/Index';
                    }
                    else {
                        alert("User already exist.");
                        return;
                    }
                },
                error: function () {
                    debugger;
                    alert("Error");
                }
            });
        }
    </script>
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../Content/Admin/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50" style="width: 500px;">
                <span class="login100-form-title p-b-41">
                    Create Account
                </span>
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "registerUserForm" }))
                {
                    <input type="hidden" value="@ViewBag.type" id="RoleType" name="RoleType" />

                    <div id="UserDiv">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter First Name">
                                    <input class="input100" type="text" id="FirstName" name="FirstName" placeholder="First Name">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Last Name">
                                    <input class="input100" type="text" id="LastName" name="LastName" placeholder="Last Name">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Email Address">
                                    <input class="input100" type="email" id="EmailAddress" name="EmailAddress" placeholder="Email Address">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Contact">
                                    <input class="input100" type="text" id="Contact" name="Contact" placeholder="Contact">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Username">
                                    <input class="input100" type="text" id="Username" name="Username" placeholder="Username">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Password">
                                    <input class="input100" type="password" id="Password" name="Password" placeholder="Password">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="wrap-input100 validate-input" data-validate="Enter Address">
                                    <input class="input100" type="text" id="Address" name="Address" placeholder="Address">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            @if (@ViewBag.type == 3)
                            {
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Category">
                                        <select class="input100" id="Category" name="Category">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                <option value="@item.CategoryId">@item.CategoryName</option>
                                            }
                                        </select>
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Location">
                                        <select class="input100" id="Location" name="Location">
                                            <option value="HRE">HRE</option>
                                            <option value="BRQ">BRQ</option>
                                        </select>
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Shop Name">
                                        <input class="input100" type="text" id="ShopName" name="ShopName" placeholder="Shop Name">
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Description">
                                        <input class="input100" type="text" id="Description" name="Description" placeholder="Description">
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Delivery Fee">
                                        <input class="input100" type="text" id="DeliveryFee" name="DeliveryFee" placeholder="Delivery Fee">
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Delivery Time">
                                        <input class="input100" type="text" id="DeliveryTime" name="DeliveryTime" placeholder="Delivery Time">
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Shop Image">
                                        <input class="input100" type="file" id="ShopImage" name="ShopImage" placeholder="Shop Image" multiple>
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                @*<div class="col-md-12">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Shop Logo">
                                        <input class="input100" type="file" id="ShopLogo" name="ShopLogo" placeholder="Shop Logo" multiple>
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>*@

                            }

                        </div>
                        <div class="container-login100-form-btn m-t-32">
                            <button type="button" class="login100-form-btn" onclick="Register();">Register</button>
                        </div>

                    </div>

                }

            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/js/main.js"></script>

</body>
</html>




















