@model SabiAsp.Models.Admin

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="images/icons/favicon.ico" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/main.css">
    <!--===============================================================================================-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        form {
            background: white;
            border-radius: 10px;
            padding: 10px;
        }
    </style>
    <script>
        function onSelectPaymentMethod() {
            debugger;
            switch ($('#MoneyDeposit').val()) {
                case 'BankDeposit':
                    $('#BankDeposit').show();
                    $('#CashPickUp').hide();
                    $('#MobileMoneyTransfer').hide();
                    break;
                case 'CashPickUp':
                    $('#BankDeposit').hide();
                    $('#CashPickUp').show();
                    $('#MobileMoneyTransfer').hide();
                    break;
                case "MobileMoneyTransfer":
                    $('#BankDeposit').hide();
                    $('#CashPickUp').hide();
                    $('#MobileMoneyTransfer').show();
                    break;
                default:
                    break;
            }
        }
        function Register() {
            debugger;
            //User/Index
            if (document.getElementById('FirstName').value == "") {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter First Name.',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                return;
            }
            if (document.getElementById('LastName').value == "") {

                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter Last Name.',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                return;
            }
            if (document.getElementById('EmailAddress').value == "") {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter Email Address.',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                return;
            }
            if (document.getElementById('Username').value == "") {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter Username.',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                return;
            }
            if (document.getElementById('Password').value == "") {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter Password.',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
                return;
            }
            if (@ViewBag.type == 3) {
                if (document.getElementById('Category').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Select one Category.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
                if (document.getElementById('Location').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Select one Location.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
                if (document.getElementById('ShopName').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please enter ShopName.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
                if (document.getElementById('Description').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please enter Description.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
                if (document.getElementById('DeliveryFee').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please enter DeliveryFee.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
                if (document.getElementById('DeliveryTimeMax').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please enter Email AddressPlease enter Maximum Delivery Time.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
                if (document.getElementById('DeliveryTimeMin').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please enter Minimum Delivery Time.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
                if (document.getElementById('MinOrder').value == "") {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please enter Minimum Order.',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }

                switch ($('#MoneyDeposit').val()) {
                    case 'BankDeposit':
                        if (document.getElementById('BankDepositBankName').value == "") {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Please Enter Bank Name !',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });

                            return;
                        }
                        if (document.getElementById('BankDepositBranchName').value == "") {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Please Enter Branch Name !',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });

                            return;
                        }
                        if (document.getElementById('BankDepositAccountNumber').value == "") {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Please Enter Account Number !',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });

                            return;
                        }
                        break;
                    case 'CashPickUp':
                        if (document.getElementById('CashPickUpAgreement').checked == false) {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Please Accept Cash Pick Up Agreement !',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });
                            return;
                        }
                        break;
                    case "MobileMoneyTransfer":
                        if (document.getElementById('MobileMoneyTransferEcoCashMobileNumber').value == "") {
                            Swal.fire({
                                title: 'Error!',
                                text: 'Please Enter Eco Cash Mobile Number !',
                                icon: 'error',
                                confirmButtonText: 'Ok'
                            });

                            return;
                        }
                        break;
                    default:
                        return;
                        break;
                }
                if (document.getElementById('Agreement').checked == false || document.getElementById('WorldRemit').checked == false ) {
                    Swal.fire({
                        title: 'Error!',
                        text: 'Please Accept our Terms & Conditions',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    });
                    return;
                }
            }
            f = new FormData($("#registerUserForm")[0]);
            $.ajax({
                type: "POST",
                async: "true",
                data: f,
                url: "/Login/SabiRegister",
                processData: false,
                contentType: false,
                success: function (data) {
                    debugger;
                    if (data == "success")
                    {
                        if (@ViewBag.type == 3) {
                            Swal.fire({
                                title: 'Account created successfully... Wait for admin Approval .You will get email after account is Approved. We Normally Respond with in 2 days.',
                                confirmButtonText: `OK`,
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                   @* window.location.href = '/Vendor/VendorView';*@
                                    window.location.href = '/Home/Index';
                                
                                }
                            })
                        } else {
                            Swal.fire({
                                title: 'Account created successfully.',
                                confirmButtonText: `OK`,
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                    window.location.href = '/Home/Index';
                                }
                            })
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Error!',
                            text: 'User already exist.',
                            icon: 'error',
                            confirmButtonText: 'Ok'
                        });
                        return;
                    }
                },
                error: function () {
                    debugger;
                    alert("Error");
                }
            });
        }
    </script>
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-color: #1B0754">
             @*style="background-image: url('../Content/Admin/images/bg-01.jpg');"*@
            <div class="wrap-login100 p-t-30 p-b-50" style="width: 500px;">
                <span class="login100-form-title p-b-41">
                    Create Account
                </span>
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "registerUserForm" }))
                {
                    <input type="hidden" value="@ViewBag.type" id="RoleType" name="RoleType" />

                    <div id="UserDiv">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter First Name">
                                    <input class="input100" type="text" id="FirstName" name="FirstName" placeholder="First Name">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Last Name">
                                    <input class="input100" type="text" id="LastName" name="LastName" placeholder="Last Name">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Email Address">
                                    <input class="input100" type="email" id="EmailAddress" name="EmailAddress" placeholder="Email Address">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Phone Number">
                                    <input class="input100" type="text" id="Contact" name="Contact" placeholder="Phone Number">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Username">
                                    <input class="input100" type="text" id="Username" name="Username" placeholder="Username">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wrap-input100 validate-input" data-validate="Enter Password">
                                    <input class="input100" type="password" id="Password" name="Password" placeholder="Password">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="wrap-input100 validate-input" data-validate="Enter Address">
                                    <input class="input100" type="text" id="Address" name="Address" placeholder="Address">
                                    <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                </div>
                            </div>
                            @if (@ViewBag.type == 3)
                            {
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Category">
                                        <select class="input100" id="Category" name="Category">
                                            @foreach (var item in ViewBag.Categories)
                                            {
                                                <option value="@item.CategoryId">@item.CategoryName</option>
                                            }
                                        </select>
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Location">
                                        <select class="input100" id="Location" name="Location">
                                            <option value="HRE">HRE</option>
                                            <option value="BUQ">BUQ</option>
                                        </select>
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Shop Name">
                                        <input class="input100" type="text" id="ShopName" name="ShopName" placeholder="Shop Name">
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="wrap-input100 validate-input" data-validate="Enter Description">
                                        <input class="input100" type="text" id="Description" name="Description" placeholder="Description">
                                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                    </div>
                                </div>
                                <div style="display:none">
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input" data-validate="Enter Delivery Fee">
                                            <input class="input100" type="text" id="DeliveryFee" value="40" name="DeliveryFee" placeholder="Delivery Fee">
                                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input" data-validate="Enter Maximum Delivery Time">
                                            <input class="input100" type="text" id="DeliveryTimeMax" name="DeliveryTimeMax" placeholder="Maximum Delivery Time" value="60">
                                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input" data-validate="Enter Minimum Delivery Time">
                                            <input class="input100" type="text" id="DeliveryTimeMin" name="DeliveryTimeMin" placeholder="Minimum Delivery Time" value="30">
                                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="wrap-input100 validate-input" data-validate="Enter Minimum Order">
                                            <input class="input100" type="text" id="MinOrder" name="MinOrder" placeholder="Minimum Order" value="1">
                                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row" style="text-align:center">
                                        <div class="col-5"><label style="margin:10px">Shop Image</label></div>
                                        <div class="col-7">

                                            <div style="margin:10px" data-validate="Enter Shop Image">
                                                <input class="" type="file" id="ShopImage" name="ShopImage" placeholder="Shop Image" multiple>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row" style="text-align:center">
                                        <div class="col-5"><label style="margin:10px;">Shop Logo</label></div>
                                        <div class="col-7">
                                            <div style="margin:10px" data-validate="Enter Shop Logo">
                                                <input class="" type="file" id="ShopLogo" name="ShopLogo" placeholder="Shop Logo" multiple>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                              
                                    <div class="col-md-12">
                                        <div class="wrap-input100 validate-input" data-validate="Payment">
                                            <label>Select Payment Method</label>
                                            <select style="margin-bottom:10px" class="input100" id="MoneyDeposit" name="MoneyDeposit" onchange="onSelectPaymentMethod();">
                                                <option value="BankDeposit">Bank Deposit</option>
                                                <option value="CashPickUp">Cash Pick Up</option>
                                                <option value="MobileMoneyTransfer">Mobile Money Transfer</option>
                                            </select>

                                            <div id="BankDeposit">
                                                <div class="row" style="margin-bottom:10px">
                                                    <div class="col-6">
                                                        <input class="form-control" type="text" placeholder="Bank Name" name="BankDepositBankName" id="BankDepositBankName" />
                                                    </div>
                                                    <div class="col-6">
                                                        <input class="form-control" type="text" placeholder="Branch Name" name="BankDepositBranchName" id="BankDepositBranchName" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <input class="form-control" type="number" placeholder="Account Number" name="BankDepositAccountNumber" id="BankDepositAccountNumber" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="CashPickUp" style="display:none">
                                                <div class="row">
                                                    <div class="col-12" style=" padding: 20px;">
                                                        <input required style=" display: inline-block; width: 20px; " class="input100" type="checkbox" id="CashPickUpAgreement" name="CashPickUpAgreement"><span style=" position: relative; top: -15px; left: 5px; ">I acknowledge that money can only be paid out in multiples of 10USD. Money under this amount will not be deposited</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="MobileMoneyTransfer" style="display:none">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input class="form-control" type="number" placeholder="EcoCash Mobile Number" name="MobileMoneyTransferEcoCashMobileNumber" id="MobileMoneyTransferEcoCashMobileNumber" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        </div>
                                    <div class="col-md-12">
                                        <div style=" padding: 20px;" class="" data-validate="Enter Shop Logo">
                                            <input required style=" display: inline-block; width: 20px; " class="input100" type="checkbox" id="WorldRemit" name="Agreement"><span style=" position: relative; top: -15px; left: 5px; ">I accept 1.99 GBP fee applied to all World Remit transfers and their exchange rate to USD on the 28th of every month</span>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div style=" padding: 20px;" class="" data-validate="Enter Shop Logo">
                                            <input required style=" display: inline-block; width: 20px; " class="input100" type="checkbox" id="Agreement" name="Agreement"><span style=" position: relative; top: -15px; left: 5px; ">I confirm all details are correct. Click Sabi is not responsible and will not reimburse for any details entered incorrectly by the vendor</span>

                                        </div>
                                    </div>

                                    }

                                </div>
                                <div class="container-login100-form-btn m-t-32">
                                    <button type="button" class="login100-form-btn" onclick="Register();">Register</button>
                                </div>

                            </div>

                }

            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Admin/js/main.js"></script>

</body>
</html>




















