@model IList<SabiAsp.Models.Category>


@{

    foreach (var c in Model)
    {
        <tr>
            <td>@c.CategoryId</td>
            <td>@c.CategoryName</td>
            <td>@c.CreatedDate</td>
           
            <td>
                <input type="button" id="viewSubCategory" value="View Sub Category" onclick="ViewSubCategory(@c.CategoryId);" />
                <input type="button" id="editCategory" value="Edit" onclick="GetUpdateCategory(@c.CategoryId, '@c.CategoryName');" />
                <input type="button" id="deleteCategory" value="Delete" onclick="DeleteCategory(@c.CategoryId);" />
            </td>
        </tr>
    }

}



