@model List<SabiAsp.Models.SubCategoryItems>
@{
    ViewBag.Title = "GetSubCategories";
    ViewBag.LayoutPage = "sub";
    Layout = "~/Views/Shared/LayoutSub.cshtml";
}
<script>
    var listofitem;
    function AddtoBasket(id)
    {
        debugger;
        var u = @ViewBag.logedinUserId;
        if (u==0)
        {
            Swal.fire('Please sign in first', '', 'warning');
        }
        else {

            $.ajax({
                url: '/Items/SaveBuyProducts?userid='+@ViewBag.logedinUserId+'&itemid='+id,
                type: "GET",
                success: function (resp)
                {
                    debugger;
                    if (resp == "True")
                    {
                        var valadd = $('.jss262').text();
                        var iNum = parseInt(valadd);
                        iNum = iNum + 1;
                        $('.jss262').text(iNum);
                        $('#totalitemlist').val(listofitem);
                    } else
                    {
                        Swal.fire('Item already exist', '', 'warning');
                    }
                }
            });

        }
    }
    function showItemByCategory(Sid) {
        if (Sid == 0) {
            $('#itemsList').show();
            $('#itemsbyCategory').hide();
        } else {
            $('#itemsList').hide();
            $('#itemsbyCategory').show();
            //
            $.ajax({
                type: "GET",
                url: "/Items/ItemBySubCategories?Sid=" + Sid,
                success: function (responce) {
                    debugger;
                    $('#itemsbyCategory').html('');
                    $('#itemsbyCategory').html(responce);
                }
            });
            //
        }
    }
    function getVendorPhoneNumber(shopid) {
        var options = {
            type: "POST",
            url: '/Items/getVendorNum?shopid=' + shopid,
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response)
            {
                Swal.fire(response);
                $('#vendorNumDiv').show();
                $('#vendorPhone').text(response);
                debugger
            }
        };
        $.ajax(options);
    }
</script>

<!-- New Arrivals section start -->
<style>
    .ShopView {
        width: 100%;
        float: left;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        background-color: #db5660;
        height: 500px;
        background-size: cover;
        border: 1px solid #2d2d2d;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ShopLogo {
        height: 150px;
        width: 150px;
        background-color: aliceblue;
        box-shadow: 0px 0px 3px 0px black;
        z-index: 5;
    }

    .ShopDetails {
        height: 130px;
        width: 500px;
        background-color: aliceblue;
        border-radius: 0px 100px 100px 0px;
        position: relative;
        left: -30px;
        top: 11px;
        z-index: 2;
    }
</style>
<input type="hidden" id="count1" value="0" />
<div class="collection_text"></div>
<!-- New Arrivals section start -->
<div class="ShopView">
    @if (ViewBag.ShopData.Logo == null)
    {
        <style>
            .ShopView {
                background-image: url('../../Images/shopbg.jpg');
            }
        </style>
    }
    else
    {
        <style>
            .ShopView {
                background-image: url('@string.Format("/CompanyImages/{0}", ViewBag.ShopData.image)');
            }
        </style>
    }

    <div class="ShopCenter" style="display: flex;">
        <div class="ShopLogo">
            @if (ViewBag.ShopData.Logo == null)
            {
                <img src="~/Content/Template/images/shoes-img9.png" style="height:100%; width:100%;" />
            }
            else
            {
                <img src="@string.Format("/CompanyImages/{0}", ViewBag.ShopData.Logo)" style="height:100%; width:100%;" />
            }

        </div>
        <div class="ShopDetails">
            <div>
                <div class="star_text" style="margin-left: 40px;">
                    <div class="left_part" style="padding:0px;width:50%">
                        <h4 style="text-align:left; padding:10px; font-size:30px;">@ViewBag.ShopData.shopname</h4>
                        <p class="best_text" style="text-align:left;padding-left: 10px; font-weight:500; margin:0px; font-size:14px">@ViewBag.ShopData.Description</p>
                        <ul>
                            @for (int i = 1; i <= ViewBag.Ratings; i++)
                            {
                                <li style="height: 30px;"><a style="font-size: 15px;vertical-align: top;" href="#"><img src="~/Content/Template/images/star-icon.png"></a></li>
                            }
                            @for (int i = 1; i <= ViewBag.WithoutRatings; i++)
                            {
                                <li style="height: 30px;"><a style="font-size: 15px;vertical-align: top;" href="#"><img src="~/Content/Template/images/gray-star-icon.png"></a></li>
                            }
                        </ul>
                        @if (ViewBag.logedinRoleID == 2)
                        {
                            <input type="button" onclick="showRatingsModal();" value="Rate Us" class="btn btn-primary" style="background: #ffa800; border: none; margin-top: -38px;" />
                        }
                    </div>
                    <div class="right_part" style="width:35%">
                        <div class="shoes_price" style="text-align:left;font-size:15px;font-weight:400">Location : <span style="color: #ff4e5b;">@ViewBag.ShopData.location</span></div>
                        <div class="shoes_price" style="text-align: left;font-size: 15px;font-weight: 400">Delivery Fee : <span style="color: #ff4e5b;">$@ViewBag.ShopData.DeliveryFee</span></div>
                        <div class="shoes_price" style="text-align: left;font-size: 15px;font-weight: 400">Min-Order : <span style="color: #ff4e5b;">@ViewBag.ShopData.MinOrder</span></div>
                        <div class="shoes_price" style="text-align: left;font-size: 15px;font-weight: 400;white-space: nowrap;">Time :  <span style="color: #ff4e5b;">@ViewBag.ShopData.DeliveryTime mins</span></div>
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>

    <div class="form-group has-search" style=" position: absolute; margin-top: 230px; margin-left: 15px; width: 300px;">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" id="searchItemsInshop" style="height: 50px; border-radius: 50px;" placeholder="Search Items In Shop!" />
    </div>
    
</div>
<div class="layout_padding gallery_section">
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">

                <input type="hidden" value="@ViewBag.SubCategoryId" id="GetSubCategoryId" />
                @*    <span style="color:white;font-size:large;">Sort By :</span>
                         @Html.DropDownList("SortList", new List<SelectListItem>{
                    new SelectListItem{ Text="Date", Value = "1" },
                    new SelectListItem{ Text="Price", Value = "2" },
                    }, "All", new { onchange = "SortItemslistChange(this)", @class = "form-control", @style = "display:initial;width:auto;" })
                *@
            </div>
            @if (ViewBag.logedinRoleID == 3)
            {
                @*<div class="col-sm-4" id="Subcategoriesdiv" style="text-align:end">
                        <span style="color:white;font-size:large;">Sub Categories : </span>
                        @Html.DropDownList("Subcategories", ViewBag.SubCategorylist as IEnumerable<SelectListItem>, "All", new { @class = "form-control", @style = "display:initial;width:auto;" })
                    </div>*@
                <div class="col-sm-2" style="text-align:end">
                    <input type="button" class="btn btn-primary w-pull-right w-margin-left-10" value="Add Item" id="addItemBtn" data-target="#vendorShopItemBootstrapModal" data-toggle="modal" />
                </div>
            }
            else
            {
                @*<div class="col-sm-6" id="Subcategoriesdiv" style="text-align:end">
                        <span style="color:white;font-size:large;">Sub Categories : </span>
                        @Html.DropDownList("Subcategories", ViewBag.SubCategorylist as IEnumerable<SelectListItem>, "All", new { @class = "form-control", @style = "display:initial;width:auto;" })
                    </div>*@
            }

        </div>
        <div class="row" id="searchResultView">

        </div>
        <div class="row" id="NormalView">

            <div class="col-3 ">
                <div style="background:white; padding:5px;">
                    <div class="sideNavtab" style="margin: 10px;font-size: 20px;color: #140247; cursor:pointer; border-left: 4px solid; "><span style=" padding-left: 10px;" onclick="showItemByCategory(0)">All</span></div>
                    @foreach (var sub in Model)
                    {
                        <div class="sideNavtab" onclick="showItemByCategory(@sub.SubCategorieId)" style="margin: 10px;font-size: 20px;color:#140247; cursor:pointer"><span style=" padding-left: 10px;">@sub.name</span></div>
                    }
                </div>
                <div style=" text-align: center; padding: 15px;">
                    <input type="button" class="btn btn-dark" value="Contact Shop Owner" onclick="getVendorPhoneNumber(@ViewBag.ShopData.Shopid);">
                    <div id="vendorNumDiv" style="
    background: white;
    height: 60px;
    border-radius: 7px;
    margin-top: 10px;
    display:none;
">
                        <div style="
    height: 20px;
    width: 20px;
    /* margin-top: 12px; */
    position: relative;
    background: white;
    top: -8px;
    transform: rotate(45deg);
    left: 135px;
"></div>
                        <p id="vendorPhone" style="
    font-size: 27px;
    position: relative;
    top: -21px;
">00000000000</p>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div style="display:none" id="itemsbyCategory"></div>
                <div class="" id="itemsList">
                    @foreach (var sub in Model)
                    {
                        <p style="margin: 10px; font-size: 32px; color: white;">@sub.name</p>
                        <br />
                        <div class="row" @*onclick="GetVendorItemData(@subCate.ItemId, '@subCate.name', '@subCate.Weight', '@subCate.Price', '@subCate.image', @subCate.Shopid, @subCate.SubCategorieId);"*@>
                            @if (sub.items != null)
                            {
                                if (sub.items.Count == 0)
                                {
                                    <div class="best_shoes" style="height: 90px; width: 200px; margin: 15px; border-radius: 12px; padding: 0px;">
                                        <p class="best_text" style="        margin-bottom: 5px;
        color: #e0ab09;
">No Item In This Category !</p>
                                    </div>

                                }
                                else
                                {
                                    foreach (var subCate in sub.items)
                                    {
                                        <input type="hidden" value="@subCate.SubCategorieId" class="GetSubCategorieId" />
                                        <input type="hidden" value="@subCate.name" class="GetSubCategorieName" />

                                        <div class="best_shoes" style="height: 200px; width: 200px; margin: 15px; border-radius: 12px; padding: 0px;">
                                            <div><i class="fas fa-plus-circle addtocartbtn" style="" onclick="AddToCart(@subCate.ItemId)"></i></div>
                                            <p class="best_text" style=" margin-bottom: 5px;">@subCate.name</p>
                                            <div class="shoes_icon" style="min-height: 10px;">
                                                @if (subCate.image == null)
                                                {
                                                    <img src="~/Content/Template/images/shoes-img4.png" style="max-width:66%;" onclick="showItemDetails(@subCate.ItemId)">
                                                }
                                                else
                                                {
                                                    <img src="@string.Format("/CompanyImages/{0}", subCate.image)" onclick="showItemDetails(@subCate.ItemId)" class="Emp44by44" style="height: 70px; width: 70px;">
                                                }
                                            </div>
                                            <div class="star_text">
                                                <div class="right_part" style="width:100%; text-align:center">
                                                    <div class="">Price : <span style="color: #ff4e5b;">$@subCate.Price</span></div>
                                                    <div class="">Weight : <span style="color: #ff4e5b;">@subCate.Weight KG</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }

                        </div>

                    }


                </div>
            </div>


        </div>


        @*        <div id="item_View" style="">

            </div>*@
    </div>
</div>
<!-- New Arrivals section end -->

<input type="hidden" id="openRatingsModal" data-target="#ratingsBootstrapModal" data-toggle="modal" />

<div id="ratings">
    @{
        using (Html.BeginForm("SaveUserRatings", "Vendor", FormMethod.Post, new { id = "saveRatingsForm" }))
        {
            @*item strat*@
            <div class="modal fade " id="ratingsBootstrapModal">
                <div class="modal-dialog w-item-modal-dialog">
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header light-blue darken-3 white-text" style="background: #ffd700;">
                            <h4 class="title" style="color:white;">Rating Us</h4>

                            <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times" style="color:white;"></i>
                            </button>
                        </div>
                        <div style="width:100%; overflow:auto" class="ModelTrack">
                            <div class="modal-body" style="width:100%">
                                <div id="ItemDiv">
                                    <input type="hidden" id="UserRatings" name="UserRatings" value="0" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="rating">
                                                <a class="star star5" href="#" onclick="star(5)"><span>★</span></a>
                                                <a class="star star4" href="#" onclick="star(4)"><span>★</span></a>
                                                <a class="star star3" href="#" onclick="star(3)"><span>★</span></a>
                                                <a class="star star2" href="#" onclick="star(2)"><span>★</span></a>
                                                <a class="star star1" href="#" onclick="star(1)"><span>★</span></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <input type="button" class="btn btn-info" value="Ratings" onclick="SaveUserRatings();" style="float:right;margin:10px 0;background:#ffd700;border:none;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*item end*@
        }
    }
</div>

@* add/update item start*@
<input type="hidden" id="openVendorItemModal" data-target="#updateVendorItemBootstrapModal" data-toggle="modal" />

<div id="editItem">
    @{
        using (Html.BeginForm("UpdateItem", "Items", FormMethod.Post, new { id = "updateVendorItemForm" }))
        {
            @*item strat*@
            <div class="modal fade " id="updateVendorItemBootstrapModal">
                <div class="modal-dialog w-item-modal-dialog">
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header light-blue darken-3 white-text" style="background:#0273B6;">
                            <h4 class="title" style="color:white;">Update Item</h4>

                            <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times" style="color:white;"></i>
                            </button>
                        </div>
                        <div style="width:100%; overflow:auto" class="ModelTrack">
                            <div class="modal-body" style="width:100%">
                                <div id="ItemDiv">
                                    <input type="hidden" id="updateItemId" name="updateItemId" />
                                    <input type="hidden" id="UpdateShopIddrp" name="UpdateShopIddrp" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Item Name :</label>
                                            <input type="text" class="form-control" id="updateItemName" name="updateItemName" required />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Item Weight :</label>
                                            <input type="text" class="form-control" id="updateItemWeight" name="updateItemWeight" required />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Item Price :</label>
                                            <input type="text" class="form-control" id="updateItemPrice" name="updateItemPrice" required />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Sub Category :</label>
                                            <select class="form-control" id="UpdateSubCategorydrp" name="UpdateSubCategorydrp" required>
                                                @foreach (var item in ViewBag.SubCategorylist)
                                                {
                                                    <option value="@item.SubCategorieId">@item.name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Image :</label>
                                            <input type="file" class="" id="ItemImage" name="ItemImage" multiple />
                                        </div>
                                    </div>
                                </div>

                                <input type="button" class="btn btn-info" value="Update" onclick="updateVendorItemData();" style="float:right;margin:10px 0;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*item end*@
        }
    }
</div>


<div id="addShopItem">
    @{
        using (Html.BeginForm("AddShopItem", "Items", FormMethod.Post, new { id = "addVendorShopItemForm" }))
        {

            @*item strat*@
            <div class="modal fade " id="vendorShopItemBootstrapModal">
                <div class="modal-dialog w-item-modal-dialog">
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header light-blue darken-3 white-text" style="background:#0273B6;">
                            <h4 class="title" style="color:white;">Add Item</h4>

                            <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times" style="color:white;"></i>
                            </button>
                        </div>
                        <div style="width:100%; overflow:auto" class="ModelTrack">
                            <div class="modal-body" style="width:100%">
                                <div id="ItemDiv">
                                    <div class="row">

                                        <input type="hidden" class="form-control" id="shopUserId" name="shopUserId" value="@ViewBag.logedinUserId" />
                                        <div class="col-md-6">
                                            <label>Item Name :</label>
                                            <input type="text" class="form-control" id="shopItemName" name="shopItemName" required />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Item Weight :</label>
                                            <input type="text" class="form-control" id="shopItemWeight" name="shopItemWeight" required />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Item Price :</label>
                                            <input type="text" class="form-control" id="shopItemPrice" name="shopItemPrice" required />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Sub Category :</label>
                                            <select class="form-control" id="shopSubCategorydrp" name="shopSubCategorydrp" required>
                                                @foreach (var item in ViewBag.SubCategorylist)
                                                {
                                                    <option value="@item.SubCategorieId">@item.name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Image :</label>
                                            <input type="file" class="" id="shopItemImage" name="shopItemImage" multiple />
                                        </div>
                                    </div>

                                    <input type="button" class="btn btn-info" value="Add" onclick="addVendorItemData();" style="float:right;margin:10px 0;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*item end*@


        }
    }
</div>
@* add/update item end*@


<script>
    function SortItemslistChange(value) {
        debugger;
        var selectedValueId = document.getElementById('SortList').value;
        var subCategoryId = document.getElementById('GetSubCategoryId').value;
        $.ajax({
            type: "GET",
            url: '/Items/SortItemList?value=' + selectedValueId + "&&subCategoryId=" + subCategoryId,
            success: function (response) {
                debugger;
                $("#itemsList").html("");
                $("#itemsList").html(response);
            }
        });
    }

    function addVendorItemData() {
        debugger;
        if (document.getElementById('shopItemName').value == "") {

            Swal.fire('Please enter Item Name.', '', 'warning');
            return;
        }
        if (document.getElementById('shopItemWeight').value == "") {

            Swal.fire('Please enter Item Weight.', '', 'warning');
            return;
        }
        if (document.getElementById('shopItemPrice').value == "") {
            Swal.fire('Please enter Item Price.', '', 'warning');
            return;
        }
        if (document.getElementById('shopSubCategorydrp').value == "") {

            Swal.fire('Select one Sub Category.', '', 'warning');
            return;
        }

        f = new FormData($("#addVendorShopItemForm")[0]);

        $.ajax({
            url: '/Items/AddShopItem',
            type: 'POST',
            data: f,
            processData: false,
            contentType: false,
            success: function (data) {
                debugger;
                if (data == "success") {
                    $(".close").trigger("click");
                    window.location.reload();
                }
                else {
                    Swal.fire('Item already exist.', '', 'warning');
                    return;
                }
            },
            error: function () {
                debugger;
                alert("Error");
            }
        });
    }

    function GetVendorItemData(itemId, itemName, itemWeight, itemPrice, itemImage, shopId, subCategoryId) {
        debugger;
        $("#updateItemId").val(itemId);
        $("#updateItemName").val(itemName);
        $("#updateItemWeight").val(itemWeight);
        $("#updateItemPrice").val(itemPrice);
        $("#updateItemImage").val(itemImage);
        $("#UpdateShopIddrp").val(shopId);
        $("#UpdateSubCategorydrp").val(subCategoryId);
        $("#openVendorItemModal").trigger("click");
    }

    function updateVendorItemData() {
        debugger;
        if (document.getElementById('updateItemName').value == "") {

            Swal.fire('Please enter Item Name.', '', 'warning');
            return;
        }
        if (document.getElementById('updateItemWeight').value == "") {

            Swal.fire('Please enter Item Weight.', '', 'warning');
            return;
        }
        if (document.getElementById('updateItemPrice').value == "") {
            Swal.fire('Please enter Item Price.', '', 'warning');
            return;
        }
        if (document.getElementById('UpdateSubCategorydrp').value == "") {

            Swal.fire('Select one Sub Category.', '', 'warning');
            return;
        }

        f = new FormData($("#updateVendorItemForm")[0]);

        $.ajax({
            url: '/Items/UpdateItem',
            type: 'POST',
            data: f,
            processData: false,
            contentType: false,
            success: function (data) {
                debugger;
                if (data == "success") {

                    Swal.fire('Item updated successfully.', '', 'success');
                    $(".close").trigger("click");
                    window.location.reload();
                }
                else {
                    Swal.fire('Record not updated.', '', 'warning');
                    return;
                }
            },
            error: function () {
                debugger;
                alert("Error");
            }
        });
    }
</script>

<script>
    function showRatingsModal() {
        debugger;
        $(".star").css("color", "gray");
        $("#openRatingsModal").trigger("click");
    }

    function star(count) {
        debugger;
        $("#UserRatings").val(count);
        for (var i = 1; i <= count; i++) {
            $(".star" + i).css("color", "gold");
        }

    }

    function SaveUserRatings() {
        debugger;
        var ratings = $("#UserRatings").val();
        $.ajax({
            type: "POST",
            url: '/Vendor/SaveUserRatings?shopId=' + @ViewBag.ShopId + "&&ratings=" + ratings,
            success: function (response) {
                debugger;
                $(".close").trigger("click");
                window.location.reload();
            }
        });
    }
</script>

<style>
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

        .rating > .star {
            display: inline-block;
            position: relative;
            width: 29px;
            color: gray;
            font-size: 30px;
        }

            .rating > .star:hover,
            .rating > .star:hover ~ .star {
                color: transparent;
            }

                .rating > .star:hover:before,
                .rating > .star:hover ~ .star:before {
                    content: "\2605";
                    position: absolute;
                    left: 0;
                    color: gold;
                }
</style>
