
@{
    ViewBag.Title = "GetSubCategories";
    ViewBag.LayoutPage = "sub";
    Layout = "~/Views/Shared/LayoutSub.cshtml";
}


    <!-- New Arrivals section start -->
    <div class="collection_text">@ViewBag.Category</div>
    <div class="layout_padding gallery_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <input type="hidden" value="@ViewBag.CategoryId" id="GetCategoryId" />
                    @*<span style="color:white;font-size:large;">Sort By :</span>
                    @Html.DropDownList("SortList", new List<SelectListItem>{
               new SelectListItem{ Text="Date", Value = "1" },
               new SelectListItem{ Text="Name", Value = "2" },
               }, "All", new { onchange = "SortSubCategorylistChange(this)", @class = "form-control", @style = "display:initial;width:auto;" })*@
                </div>
            </div>
            <div class="row">

                @foreach (var subCate in ViewBag.SubCategorylist)
                {

                    <div id="subCategoryList" class="col-sm-12 showItemsOfSubCategories" onclick="loadCategories('@subCate.location', '@subCate.shopname', @subCate.Shopid)" style="padding:0px; margin:10px; height:100px">
                        <input type="hidden" value="@subCate.Shopid" class="GetSubCategorieId" />
                        <input type="hidden" value="@subCate.shopname" class="GetSubCategorieName" />

                        <div class="row best_shoes" style="padding:0px; margin:0px; height:100px">
                            <div class="col-md-4" style="padding:0px; margin:0px; height:100px;max-width:200px">
                                <div style="background-image:url('../../Content/Template/images/banner.png');background-size:cover;"><img src="~/Content/Template/images/shoes-img4.png" style="height:100px"></div>
                            </div>
                            <div class="col-md-8" style="padding:0px; margin:0px; height:100px">
                                <div class="best_shoes" style="padding:0px; margin:0px; height:100px">

                                    <p class="best_text" style="text-align:left;padding-left: 25px;">@subCate.shopname</p>

                                    <div class="star_text">
                                        <div class="left_part">
                                            <ul>
                                                <li><a href="#"><img src="~/Content/Template/images/star-icon.png" /></a></li>
                                                <li><a href="#"><img src="~/Content/Template/images/star-icon.png" /></a></li>
                                                <li><a href="#"><img src="~/Content/Template/images/star-icon.png" /></a></li>
                                                <li><a href="#"><img src="~/Content/Template/images/star-icon.png" /></a></li>
                                                <li><a href="#"><img src="~/Content/Template/images/star-icon.png" /></a></li>
                                            </ul>
                                        </div>
                                        @*<div class="right_part">
                                                <div class="shoes_price">Items : <span style="color: #ff4e5b;">60</span></div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
            </div>
            @*        <div id="item_View" style="">

                </div>*@
        </div>
    </div>
    <!-- New Arrivals section end -->




<script>
    function SortSubCategorylistChange(selectedValue) {
        debugger;
        var selectedValueId = document.getElementById('SortList').value;
        var categoryId = document.getElementById('GetCategoryId').value;
        $.ajax({
            type: "GET",
            url: '/SubCategory/SortSubCategoryList?value=' + selectedValueId + "&&categoryId=" + categoryId,
            success: function (response) {
                debugger;
                $("#subCategoryList").html(response);
            }
        });
    }
</script>
