@model List<SabiAsp.Models.item>

@{
    Layout=null;
}


@if (Model.Count > 0)
{
<div class="row">
    @foreach (var subCate in Model)
    {
    <input type="hidden" value="@subCate.SubCategorieId" class="GetSubCategorieId" />
    <input type="hidden" value="@subCate.name" class="GetSubCategorieName" />

    <div class="best_shoes" style="height: 200px; width: 200px; margin: 15px; border-radius: 12px; padding: 0px;">
        <div><i class="fas fa-plus-circle addtocartbtn"  onclick="AddToCart(@subCate.ItemId)"></i></div>
        <p class="best_text" style=" margin-bottom: 5px;">@subCate.name</p>
        <div class="shoes_icon" style="min-height: 10px;">
            @if (subCate.image == null)
            {
                <img src="~/Content/Template/images/shoes-img4.png" style="max-width:66%;" onclick="showItemDetails(@subCate.ItemId)">
            }
            else
            {
                <img src="@string.Format("/CompanyImages/{0}", subCate.image)" onclick="showItemDetails(@subCate.ItemId)" class="Emp44by44" style="height: 70px; width: 70px;">
            }
        </div>
        <div class="star_text">
            <div class="right_part" style="width:100%; text-align:center">
                <div class="">Price : <span style="color: #ff4e5b;">60$</span></div>
                <div class="">Weight : <span style="color: #ff4e5b;">2KG</span></div>
            </div>
        </div>
    </div>
    }
</div>
}
else
{
    <div><span>No Record Found</span></div>
}


